{% extends 'base.html' %}

{% block head %} 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>

{% endblock %}

{% block body %} 


<head>
    <meta charset="UTF-8">
    <title>Recommendation Display</title>
</head>
<body>
    <h2>Recommended Property Details</h2>
    {% if recommd_property2 %}
        <div>


            {% for key, value in recommd_property2.items() %}
                {% if key in ['zip_code', 'beds', 'price_range', 'style', 'sqft', 'neighborhoods', 'street'] %}
                <p><strong>{{ key }}:</strong> {{ value[0] }}</p>

                {% elif key == 'primary_photo' %}
                <p><strong>Property Photo:</strong></p>
                <img src="{{ value[0] }}" alt="Property Photo" style="width:auto; height:auto;">
                {% elif key == 'property_url' %}
                <p><strong>Property Webpage:</strong></p>
                <p>
                <a href="{{ value[0] }}" target="_blank">Click to Visit</a>
                </p>

                {% elif key in ['longitude']%}
                <p><strong>Open Street Map:</strong></p>
                <div id="map">
                    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                    crossorigin=""></script>
                    <div id="map" style="width:100%; height:500px;"></div>
                
                    <script type="text/javascript">
                    var lat = {{ recommd_property2.latitude[0] }};
                    var lon = {{ recommd_property2.longitude[0] }};
                    var map = L.map('map').setView([lat, lon], 14);

                    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);

                    L.marker([lat, lon]).addTo(map)
                    .bindPopup('A pretty CSS popup.<br> Easily customizable.')
                    .openPopup();            
                    </script> 
                </div>



                
                {% endif %}
                

            {% endfor %}
        </div>
    {% else %}
    <p>No recommendation available.</p>
    {% endif %}
    <div>
        <p><strong>Similarity score:</strong> {{ score }}</p>
    </div>
    <a href="/">Back to Search</a>
</body>



{% endblock %}

{% block footer %}
{% endblock %}